<p>Cadastro de tarefas - reactive forms</p>

<div class="content text-center">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="todoForm" (ngSubmit)="salvar()">
          <div class="col-12">
            <span>Descrição</span>
          </div>
          <div class="col-12 pb-3">
            <input class="form-control" formControlName="descricao">
            <span class="text-danger" *ngIf="todoForm.controls['descricao'].touched &&
                                             todoForm.controls['descricao'].hasError('required')">
              Ops... este campo não pode ser nulo
            </span>

            <span class="text-danger" *ngIf="todoForm.controls['descricao'].touched &&
                                             todoForm.controls['descricao'].hasError('maxlength')">
              Ops... Tamanho máximo deve ser de 100 caracteres

            </span>
            <span class="text-danger" *ngIf="todoForm.controls['descricao'].touched &&
                                             todoForm.controls['descricao'].hasError('minlength')">
              Ops... Tamanho minimo deve ser de 5 caracteres
            </span>
          </div>
          <div class="col-12">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="todoForm.invalid"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <div *ngFor="let todo of todoList$ | async" class="row">
      <div class="p-3 mb-2 col-5 text-white" [ngClass]="!todo.concluido ? 'bg-danger' : 'bg-success'">
        {{ todo.descricao }}
      </div>

      <div class="form-check form-switch col-1">
        <input type="checkbox" class="form-check-input"
               [checked]="todo.concluido"
               (click)="concluirTarefa(todo)">
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-danger" (click)="removerTarefa(todo.id)">Apagar</button>
      </div>
    </div>

  </div>
</div>
